<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <h1 class="title">TRIS <i class="tim-icons icon-heart-2"></i></h1>
        </div>
        <div class="col-md-3">
          <ul class="nav">
            <li class="nav-item">
              <a href="../index.html" class="nav-link">
                Branding
              </a>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link">
                Marca Empresarial
              </a>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link">
                Comunity Manager
              </a>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link">
                UI/UX
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-3">
          <ul class="nav">
            <li class="nav-item">
              <a href="" class="nav-link">
                Diseño Industrial
              </a>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link">
                Diseño de Revistas
              </a>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link">
                Publicidad
              </a>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link">
                License
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-3">
          <h3 class="title">Sigueme:</h3>
          <div class="btn-wrapper profile">
            <a target="_blank" href="https://twitter.com/Lunys7" class="btn btn-icon btn-neutral btn-round btn-simple" data-toggle="tooltip" data-original-title="Sigueme en twitter">
              <i class="fab fa-twitter"></i>
            </a>
            <a target="_blank" href="https://www.facebook.com/profile.php?id=100009509395686" class="btn btn-icon btn-neutral btn-round btn-simple" data-toggle="tooltip" data-original-title="Regalame un like">
              <i class="fab fa-facebook-square"></i>
            </a>
            <a target="_blank" href="https://www.instagram.com/lunysluna/?hl=es-la" class="btn btn-icon btn-neutral  btn-round btn-simple" data-toggle="tooltip" data-original-title="Sigueme">
              <i class="fab fa-instagram"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </footer>