<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <h1 class="title">{{_info.info.nombre}} <i class="tim-icons icon-heart-2"></i></h1>
        </div>
        <div class="col-md-3">
          <ul class="nav">
            <li class="nav-item">
              Comunity Manager
            </li>
            <li class="nav-item">
                Branding
            </li>
            <li class="nav-item">
              Logo
            </li>
            <li class="nav-item">
              UI/UX
            </li>
          </ul>
        </div>
        <div class="col-md-3">
          <ul class="nav">
            <li class="nav-item">
              Diseño Industrial
            </li>
            <li class="nav-item">
              Diseño de Productos
            </li>
            <li class="nav-item">
              Marca Empresarial
            </li>
            <li class="nav-item">
              Diseño Grafico
            </li>
          </ul>
        </div>
        <div class="col-md-3">
          <h3 class="title">Sigueme:</h3>
          <div class="btn-wrapper profile">
            <a target="_blank" [href]="_info.info.twitter" class="btn btn-icon btn-neutral btn-round btn-simple" data-toggle="tooltip" data-original-title="Sigueme en twitter">
              <i class="fab fa-twitter"></i>
            </a>
            <a target="_blank" [href]="_info.info.facebook" class="btn btn-icon btn-neutral btn-round btn-simple" data-toggle="tooltip" data-original-title="Regalame un like">
              <i class="fab fa-facebook-square"></i>
            </a>
            <a target="_blank" [href]="_info.info.instagram" class="btn btn-icon btn-neutral  btn-round btn-simple" data-toggle="tooltip" data-original-title="Sigueme">
              <i class="fab fa-instagram"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </footer>