<div class="index-page ae-container-fluid rk-main section section-lg animated fadeIn">
<div class="wrapper">
    <div class="page-header">
      <img src="../assets/img/blob.png" class="path">
      <!-- <img src="../assets/img/path2.png" class="path2"> -->
      <!-- <img src="../assets/img/triunghiuri.png" class="shapes triangle"> -->
      <!-- <img src="../assets/img/waves.png" class="shapes wave"> -->
      <!-- <img src="../assets/img/patrat.png" class="shapes squares"> -->
      <img src="../assets/img/cercuri.png" class="shapes circle">
      <div class="content-center">
        <div class="row row-grid justify-content-between align-items-center text-left">
          <div class="col-lg-6 col-md-6">
            <h1 class="text-white">Hola soy Patricia!
              <br/>
              <span class="text-white">Diseñadora Grafica</span>
            </h1>

            <p class="text-white mb-3">{{_info.info.subtituloPresentacion}}</p>
            <div class="btn-wrapper mb-3">
              <!-- <p class="category text-success d-inline">Contactar</p> -->
              <!-- <a href="#blk" class="btn btn-success btn-link btn-sm"><i class="tim-icons icon-minimal-right"></i></a> -->
              <a [routerLink]="['/portafolio']" routerLinkActive="router-link-active"  class="btn btn-primary btn-round btn-lg">Ver portafolio</a>
            </div>
            <div class="btn-wrapper">
              <div class="button-container">
                <a [href]="_info.info.twitter" class="btn btn-icon btn-simple btn-round btn-neutral" target="_blank">
                  <i class="fab fa-twitter"></i>
                </a>
                <a [href]='_info.info.instagram' class="btn btn-icon btn-simple btn-round btn-neutral" target="_blank">
                  <i class="fab fa-instagram"></i>
                </a>
                <a href='{{_info.info.facebook}}' class="btn btn-icon btn-simple btn-round btn-neutral" target="_blank">
                  <i class="fab fa-facebook"></i>
                </a>
              </div>
            </div>
          </div>

          <!-- Imagen Principal -->
          <div class="col-lg-4 col-md-5">
            <img src="../assets/img/icono2.png" alt="Circle image" class="img-fluid">
          </div>
        </div>
      </div>
    </div>

    <!-- Seccion Trabajos -->
    <section class="section section-lg">
      <section class="section">
        <img src="../assets/img/path4.png" class="path">
        <div class="container">
          <div class="row row-grid justify-content-between">
            <div class="col-md-5 mt-lg-5">
              <div class="row">
                <div class="col-lg-6 col-sm-12 px-2 py-2">
                  <div class="card card-stats ">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-5 col-md-4">
                          <div class="icon-big text-center icon-warning">
                            <i class="tim-icons icon-trophy text-warning"></i>
                          </div>
                        </div>
                        <div class="col-7 col-md-8">
                          <div class="numbers">
                            <p class="card-title">+1000
                              <p>
                                <p class="card-category">{{_info.info.trabajo1}}</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-sm-12 px-2 py-2">
                  <div class="card card-stats bg-default">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-5 col-md-4">
                          <div class="icon-big text-center icon-warning">
                            <i class="tim-icons icon-coins text-white"></i>
                          </div>
                        </div>
                        <div class="col-7 col-md-8">
                          <div class="numbers">
                            <p class="card-title">+200
                              <p>
                                <p class="card-category">{{_info.info.trabajo2}}</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6 col-sm-12 px-2 py-2">
                  <div class="card card-stats bg-default">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-5 col-md-4">
                          <div class="icon-big text-center icon-warning">
                            <i class="tim-icons icon-gift-2 text-info"></i>
                          </div>
                        </div>
                        <div class="col-7 col-md-8">
                          <div class="numbers">
                            <p class="card-title">+50
                              <p>
                                <p class="card-category">{{_info.info.trabajo3}}</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-sm-12 px-2 py-2">
                  <div class="card card-stats ">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-5 col-md-4">
                          <div class="icon-big text-center icon-warning">
                            <i class="tim-icons icon-credit-card text-success"></i>
                          </div>
                        </div>
                        <div class="col-7 col-md-8">
                          <div class="numbers">
                            <p class="card-title">10,783
                              <p>
                                <p class="card-category">{{_info.info.trabajo4}}</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="pl-md-5">
                <h1>Grandes
                  <br/>Trabajos</h1>
                <p>I should be capable of drawing a single stroke at the present moment; and yet I feel that I never was a greater artist than now. </p>
                <br/>
                <p>When, while the lovely valley teems with vapour around me, and the meridian sun strikes the upper surface of the impenetrable foliage of my trees, and but a few stray.</p>
                <br/>
                <!-- <a href="#" class="font-weight-bold text-info mt-5">Show all <i class="tim-icons icon-minimal-right text-info"></i></a> -->
              </div>
            </div>
          </div>
        </div>
      </section>
    </section>

    <!-- Servicios -->
    <section class="section section-lg">
      <!-- <img src="../assets/img/path4.png" class="path">
      <img src="../assets/img/path5.png" class="path2">
      <img src="../assets/img/path2.png" class="path3"> -->
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-12">
            <h1 class="text-center">Servicios</h1>
            <div class="row row-grid justify-content-center">
              <div class="col-lg-3">
                <div class="info">
                  <div class="icon icon-primary">
                    <i class="tim-icons icon-money-coins"></i>
                  </div>
                  <h4 class="info-title">Precios accesibles</h4>
                  <hr class="line-primary">
                  <p>Divide details about your work into parts. Write a few lines about each one. A paragraph describing a feature will.</p>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="info">
                  <div class="icon icon-warning">
                    <i class="tim-icons icon-chart-pie-36"></i>
                  </div>
                  <h4 class="info-title">Trabajos pequeños</h4>
                  <hr class="line-warning">
                  <p>Divide details about your product or agency work into parts. Write a few lines about each one. A paragraph describing feature will be a feature. </p>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="info">
                  <div class="icon icon-success">
                    <i class="tim-icons icon-single-02"></i>
                  </div>
                  <h4 class="info-title">Alta experiencia</h4>
                  <hr class="line-success">
                  <p>Divide details about your product or agency work into parts. Write a few lines about each one. A paragraph describing be enough.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section section-lg section-safe">
      <!-- <img src="../assets/img/path5.png" class="path"> -->
      <div class="container">
        <div class="row row-grid justify-content-between">
          <div class="col-md-5">
            <img src="../assets/img/chester-wade.jpg" class="img-fluid floating">
            <div class="card card-stats bg-danger">
              <div class="card-body">
                <div class="justify-content-center">
                  <div class="numbers">
                    <p class="card-title">100%</p>
                    <p class="card-category text-white">Personal</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="card card-stats bg-info">
              <div class="card-body">
                <div class="justify-content-center">
                  <div class="numbers">
                    <p class="card-title">300 +</p>
                    <p class="card-category text-white">Clientes satisfechos</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="card card-stats bg-default">
              <div class="card-body">
                <div class="justify-content-center">
                  <div class="numbers">
                    <p class="card-title">20 +</p>
                    <p class="card-category text-white">Empresas</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="px-md-5">
              <hr class="line-success">
              <h3>Trabajos increibles</h3>
              <p>The design system comes with three pre-built pages to help you get started faster. You can change the text and images and you're good to go.</p>
              <ul class="list-unstyled mt-5">
                <li class="py-2">
                  <div class="d-flex align-items-center">
                    <div class="icon icon-success mb-2">
                      <i class="tim-icons icon-vector"></i>
                    </div>
                    <div class="ml-3">
                      <h6>Diseños creados cuidadosamente</h6>
                    </div>
                  </div>
                </li>
                <li class="py-2">
                  <div class="d-flex align-items-center">
                    <div class="icon icon-success mb-2">
                      <i class="tim-icons icon-tap-02"></i>
                    </div>
                    <div class="ml-3">
                      <h6>Catalogo de productos</h6>
                    </div>
                  </div>
                </li>
                <li class="py-2">
                  <div class="d-flex align-items-center">
                    <div class="icon icon-success mb-2">
                      <i class="tim-icons icon-single-02"></i>
                    </div>
                    <div class="ml-3">
                      <h6>Diseños amigables</h6>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    
  </div>
  <!--   Core JS Files   -->
  <script src="../assets/js/core/jquery.min.js" type="text/javascript"></script>
  <script src="../assets/js/core/popper.min.js" type="text/javascript"></script>
  <script src="../assets/js/core/bootstrap.min.js" type="text/javascript"></script>
  <script src="../assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
  <!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
  <script src="../assets/js/plugins/bootstrap-switch.js"></script>
  <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
  <script src="../assets/js/plugins/nouislider.min.js" type="text/javascript"></script>
  <!-- Chart JS -->
  <script src="../assets/js/plugins/chartjs.min.js"></script>
  <!--  Plugin for the DatePicker, full documentation here: https://github.com/uxsolutions/bootstrap-datepicker -->
  <script src="../assets/js/plugins/moment.min.js"></script>
  <script src="../assets/js/plugins/bootstrap-datetimepicker.js" type="text/javascript"></script>
  <!-- Black Dashboard DEMO methods, don't include it in your project! -->
  <script src="../assets/demo/demo.js"></script>
  <!-- Control Center for Black UI Kit: parallax effects, scripts for the example pages etc -->
  <script src="../assets/js/blk-design-system.min.js?v=1.0.0" type="text/javascript"></script>
  <script>
    $(document).ready(function() {
      // Javascript method's body can be found in assets/assets-for-demo/js/demo.js
      demo.initLandingPageChart();
    });
  </script>
</div>
