<!-- Spinner -->
<div class="spinner" *ngIf="loading">
    <img src="../assets/img/spinner.svg" alt="">
</div>

<section class="ae-container-fluid rk-main section section-lg section-coins animated fadeIn">
    <img src="../assets/img/path3.png" class="path">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <hr class="line-info">
          <h1>Fotografia 
            <span class="text-info">Trabajos</span>
          </h1>
        </div>
      </div>


      <!-- Iteracion de Fotografias -->
      <div class="ae-masonry ae-masonry-md-2 ae-masonry-xl-3 ae-masonry__item">
          <a *ngFor="let foto of fotos" class="rk-item ae-masonry__item">
            <div class="mb-5 text-center">
                <h3 class="color">{{foto?.titulo}}</h3>
                <img src="{{foto?.imagen}}" alt="">
            </div>
          </a>
      </div>
    </div>
  </section>